<form action="/deposits" method="POST">
    {% csrf_token %}
    <input type="hidden" name="amount" value={{ amount }} />
    <script
        src="https://checkout.stripe.com/checkout.js"
        data-key={{ stripePublicKey }}
        class="stripe-button"
        data-amount={{ amount }}
        data-name="People API"
        data-email={{ email }}
        data-image="https://i.imgur.com/z8gUC5B.jpg"
        data-allow-remember-me="false"
        data-locale="auto"
    >
    </script>
    <script>
        document.getElementsByClassName("stripe-button-el")[0].style.height = "0px";
        document.getElementsByClassName("stripe-button-el")[0].click();
    </script>
</form>
